/* Base base styles */

body {
  font-family: 'Fira Sans', sans-serif;
}



/* Mobile only styles */
@media screen and (max-width: 480px) {

  main {
    margin-top: 5em;
  }
}

/* Desktop/tablet only styles */
@media screen and (min-width: 481px) {


  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    background-color: #ddffdd;  
  }


  main {
    width: 400px;
    height: 400px;
  }
}